.App {
  text-align: center;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;

}



.header {
  grid-area: h;
  height: 2fr;
  background-color: #6d89ea;
}

.header img {
  height: 50px;
}
.sidebar {
  grid-area: n;
}
.content {
  grid-area: c;
  background-color: #c69292;
}