.AllDialogs {
    grid-template-areas: "n messages";
    grid-template-columns: 20px 1fr;

}

.dialog {
    grid-area: n;
    background-color: bisque;
    display: grid;
    grid-template-areas: 
    "avatar name messages"
    "e text e1";
    grid-template-columns: 60px 1fr 3fr;
    grid-template-rows: 20px;
}

.dialog img {
    grid-area: avatar;
    height: 50px;
}

.author {
    grid-area: name;
    font-size: 25px;
}

.message {
    grid-column: 2;
    vertical-align: top;
    font-size: 15px;
    color: chocolate;
}

