.dialog {
    background-color: bisque;
    display: grid;
    grid-template-areas: 
    "avatar name"
    "e text";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 20px 1fr;
}

.dialog img {
    grid-area: 'avatar';
    height: 50px;
}

.author {
    grid-area: 'name';
    font-size: 25px;
}

.message {
    grid-column: 2;
    vertical-align: top;
    font-size: 15px;
    color: chocolate;
}

